.NavToggle {
  display: none;
}
@media screen and (max-width: 600px) {
  .NavToggle {
    display: block;
    margin-top: -1px;
  }
  .Open ul li a {
    display: block;
  }
  .Close ul li a {
    display: none;
  }
}
